.DS_Store
NasiShadchanHelper.xcodeproj/xcuserdata/casper.xcuserdatad/
NasiShadchanHelper.xcworkspace/xcuserdata/casper.xcuserdatad/
NasiShadchanHelper/.DS_Store
Pods/.DS_Store
Pods/FirebaseAuth/.DS_Store
Pods/Pods.xcodeproj/xcuserdata/casper.xcuserdatad/
